#search_input {
    border-radius: .125rem
}

#img {
width: 205px;
position: relative; top: -120px;
/* background-color: crimson; */
}

p {
display: inline-block;
position: relative; top: 100px; left: 320px;
font-size-adjust: 0.58;
width: 550px;
/* background-color: chocolate; */
}

#movie-cont {
    border: 1px solid green ;
    /* background-color: red; */
}

#title {
    text-align: center;
    /* background-color: cyan; */
}

#ratings_wrapper {
    position: relative; top: 100px; left: 400px;
    background-color: red;
   
} 